button { 
  font-size:1.8em; 
}
#content { 
  padding:30px; 
  background:#eeeeee; 
}
.top-buffer { 
  /*margin-top: 5%; 
  margin-bottom: 2%;*/
  text-align: center;
}
.margin-bottom {
  margin-bottom:10px;
}

.billete {
  margin-bottom:10px;
  width: 105%;
}

.moneda {
    margin-bottom: 10px;
    width: 80%;
}

.number {
  text-align: center;
  margin-bottom: 0px !important;
}

.avatar {
  position: relative;
  height: 30px;
  left: -30px;
}

.avatar2 {
  position: relative;
  height: 150px;
  left: -30px;
}

.balanza {
  height: 220px;
  margin-bottom: 15px;
}

.top-value {
  font-size: 30px;
}