<div class="row" *ngIf="!isLoading">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading c-list">
                <span class="title">Selecciona el objeto</span>
                <button class="btn btn-warning" (click)="done()">
                    listo
                </button>
            </div>
            
            <ul class="list-group" id="contact-list" *ngFor="let obj of objetos; let i = index">
              
              <li class="list-group-item">
                  <div class="col-xs-12 col-sm-3">
                      <img [src]="obj.imagen" class="img-responsive img-circle" />
                  </div>
                  <div class="col-xs-12 col-sm-6">
                      <span class="name"> {{ obj.nombre }} </span><br/>
                      <!--<button class="btn btn-warning pull-right" (click)="select(obj)">
                        Seleccionar
                      </button>-->
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <input type="checkbox" #checkbox (change)="check(i)">
                  </div>
                  <div class="clearfix"></div>
              </li>
            </ul>
        </div>
    </div>
  </div>

<nav class="navbar navbar-default footer">
    <div class="left">Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div class="left">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div class="left">Icons made by <a href="http://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div class="left">Icons made by <a href="http://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha">Pixel Buddha</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</nav>
