<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/assets/img/logoLG.png" style="height: 100%">
      </a>
    </div>
  </div>

</nav>

<div class="container">
  <div class="spinner" *ngIf="isLoading"></div>
   <div id="loginbox" *ngIf="!isLoading" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 

      <div class="panel panel-warning" style="text-align: center">
        <div class="panel-heading"> 
          <div class="panel-title text-center">
            Iniciar Sesión. 
          </div>
        </div>
        <div class="panel-body">
            <alert type="danger" *ngIf="errorLogin">
                <strong>Error!</strong> El usuario o la clave son incorrectos.
            </alert>
            <form [formGroup]="form" class="form-horizontal" >
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" [(formControl)]="username" placeholder="Usuario">                                        
                </div>
                <div class="errorBox" *ngIf="!username.valid  && (username.dirty || submitAttempt)">
                    * requerido.
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" [(formControl)]="password" placeholder="Contraseña">
                </div>                                                                  
                <div class="errorBox" *ngIf="!password.valid  && (password.dirty || submitAttempt)">
                    * requerido.
                </div>
                
                <div class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <button class="btn btn-warning pull-right" (click)="login()">
                            <i class="glyphicon glyphicon-log-in"></i> Iniciar Sesión
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                            No tienes cuenta todavia? 
                        <a href="/singup">
                            Crea tu cuenta aquí
                        </a>
                        </div>
                    </div>
                </div>    
            </form>   

        </div>
      </div>
   </div>
</div>