button { 
  font-size:1.8em; 
}
#content { 
  padding:30px; 
  background:#eeeeee; 
}
.top-buffer { 
  /*margin-top: 5%; 
  margin-bottom: 2%;*/
  text-align: center;
}
.margin-bottom {
  margin-bottom:10px;
}

.billete {
  margin-bottom:10px;
  width: 105%;
}

.moneda {
    margin-bottom: 10px;
    width: 80%;
}

.number {
  margin-left: 50%;
  text-align: center;
}

.avatar {
  position: relative;
  height: 120px;
  left: -30px;
}

.panel-info > .panel-heading {
    color: #fff;
    background-color: #5bc0de;
    border-color: #bce8f1;
}

.panel-warning > .panel-heading {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #faebcc;
}

.panel-success > .panel-heading {
    color: #fff;
    background-color: #5cb85c;
    border-color: #d6e9c6;
}

.panel-danger > .panel-heading {

    color: #fff;
    background-color: #d9534f;
    border-color: #ebccd1;

}