<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/assets/img/logoLG.png" style="height: 100%">
      </a>
      <div class="btn-group">
        <label class="btn btn-warning navbar-btn" [(ngModel)]="checkModel.monedas" btnCheckbox>Monedas</label>
        <label class="btn btn-warning navbar-btn" [(ngModel)]="checkModel.billetes" btnCheckbox>Billetes</label>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right">
       <li *ngIf="usuario"><a>Hola {{ usuario.first_name }}</a></li>
       <li> <a></a></li>
       <li>
          <button (click)="goToMenu()" class="btn btn-warning btn-sm navbar-btn navbar-right" style="font-size: 1.0em;">Menú</button>
       </li>
       <li> <a></a></li>
       <li>
          <button (click)="logout()" class="btn btn-warning btn-sm navbar-btn navbar-right" style="font-size: 1.0em;">Cerrar Sesión</button>
       </li>
       <li> <a></a> </li>
    </ul>
    <!--<button type="button" class="btn btn-warning btn-sm navbar-btn navbar-right">Cerrar Sesión</button>-->
    
  </div>

</nav>
<div class="container" >
  <div class="spinner" *ngIf="isLoading"></div>
</div>
<div class="container" *ngIf="!isLoading">
  <div *ngIf="!valueSelected">
    <div class="row">
      <div class="col col-lg-6 col-lg-offset-3">
    <alert><strong>Juego: Recta numérica</strong></alert>
      </div>
    </div>
  </div>
  <random-selector *ngIf="!valueSelected" (onVotedRandom)="onVotedRandom($event)" type="monedas"></random-selector>
  <!--<object-selector *ngIf="!choosenObject" (onVoted)="onVoted($event)"></object-selector>-->
  <!--<alert type="success" *ngIf="this.progressType == 'success'">Success</alert>-->
  <div *ngIf="valueSelected">
    <div  class="row top-buffer">
      <alert type="warning" *ngIf="!editTarget">
        <img *ngIf="this.choosenObject" [src]="this.choosenObject.imagen" style="height: 100px;"/>
        {{ targetValue | currency:'USD':true:'1.0-0' }}
        <button class="btn btn-warning" style="font-size: 1em">
          <span class="glyphicon glyphicon-pencil" (click)="editTarget = true"></span>
        </button>
      </alert>
      <alert type="warning" *ngIf="editTarget">
        <div class="input-group" style="width: 80%; float: left;">
          <span class="input-group-addon" id="basic-addon1">@</span>
          <input type="number" class="form-control" [(ngModel)]="targetValue" aria-describedby="basic-addon1">
        </div>
        <button class="btn btn-warning" style="font-size: 1em" (click)="editTarget = false; calculateColor()">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </alert>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <img  #avatar [src]='usuario.avatar_recta' class="avatar">
          <progressbar [max]="targetValue" [value]="currValue" [type]="progressType">
            {{ currValue | currency:'USD':true:'1.0-0' }}
          </progressbar>
      </div>
    </div>

    <!-- billetes -->
    <div class="row" *ngIf="checkModel.billetes">
      <div class="col-lg-2 col-md-4 col-sm-6" *ngFor="let billete of billetes">
        <div class="panel panel-warning" style="text-align: center">
          <div class="panel-heading"> {{ billete.value | currency:'USD':true:'1.0-0' }} </div>
            <div class="panel-body">
            <img [@focusPanel]='state' [@movePanel]='state' [src]="billete.imgUrl" class="billete">
              <div class="btn-group-vertical" role="group" style="float: left">
                <button type="button" style="font-size: 1.2em" class="btn btn-primary btn-xs" (click)="add(billete)"> <span class="glyphicon glyphicon-triangle-top"></span> </button>
                <button type="button" style="font-size: 1.2em" class="btn btn-info btn-xs" (click)="substract(billete)"> <span class="glyphicon glyphicon-triangle-bottom"></span> </button>
              </div>

              <div class="alert alert-info number" role="alert"> {{ billete.number }} </div>
            </div>
        </div>
      </div>
    </div>

    <!-- monedas -->
    <div class="row" *ngIf="checkModel.monedas">
      <div class="col-lg-1 col-md-2 col-sm-6"></div>
      <div class="col-lg-2 col-md-4 col-sm-6" *ngFor="let moneda of monedas">
        <div class="panel panel-warning" style="text-align: center">
          <div class="panel-heading"> {{ moneda.value | currency:'USD':true:'1.0-0' }} </div>
            <div class="panel-body">
            <img [@focusPanel]='state' [@movePanel]='state' [src]="moneda.imgUrl" class="moneda">
              <div class="btn-group-vertical" role="group" style="float: left">
                <button type="button"  style="font-size: 1.2em" class="btn btn-primary btn-xs" (click)="add(moneda)"> <span class="glyphicon glyphicon-triangle-top"></span> </button>
                <button type="button"  style="font-size: 1.2em" class="btn btn-info btn-xs" (click)="substract(moneda)"> <span class="glyphicon glyphicon-triangle-bottom"></span> </button>
              </div>

              <div class="alert alert-info number" role="alert"> {{ moneda.number }} </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <h1>¡¡Ganaste!!</h1>
          <button type="button" class="btn btn-success" (click)="continue()">
            Continuar
          </button>
        </div>
      </div>
    </div>
  </div>

</div>