<div class="row" *ngIf="!isLoading">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading c-list">
                <span class="title">Selecciona el valor</span>
            </div>
            
            <ul class="list-group" id="contact-list" *ngFor="let val of valores">
              <li class="list-group-item">
                  <div class="col-xs-12 col-sm-9">
                      <span class="name"> {{ val | currency:'USD':true:'1.0-0' }} </span><br/>
                      <button class="btn btn-warning pull-right" (click)="select(val)">
                        Seleccionar
                      </button>
                  </div>
                  <div class="clearfix"></div>
              </li>
            </ul>
        </div>
    </div>
  </div>
